<br>
<%= form_tag '/create_tweet' do %>
    <%= text_area_tag :content %>

    <br>
    <%= submit_tag "Create Tweet" %>
    <span id="letters">0</span>

<% end %>


<%= form_tag '/', method: :get do %>

    <%= text_field_tag 'search' %>
    <br>
    <%= submit_tag 'search' %>
<% end %>

<div class="tweets">
  <% @tweets.each do |tweet| %>


      <%= render 'tweet', :tweet => tweet %>

  <% end %>
</div>