<!DOCTYPE html>
<html>
<head>
  <title>TwitterProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>

<div id="userDetails"><% if user_signed_in? %>

<%= link_to 'logout', '/logout' %>

<%= current_user.email %>

<% end %>
</div>
</header>


<section id="mainSection">
	<aside id="mainAside"></aside>
	<main id="mainMain"><%= yield %></main>
</section>



<footer></footer>

</body>
</html>
